body{
    background-color: pink;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 3rem;
}

#button{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-left: 570px;
    border: 2px solid #205279be;
    border-radius: 4px;
    height: 2em;
}