*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}
.myContainer{
    padding: 1.0em;
    padding-left: 2.0em;
    display: flex;
    flex-direction: row;

}
.myQuizz{

    width: 65%;
}

.displayBoard{
    height: 40px;
   
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.startForm{
    margin-top: 45px;
}

p{
    font-weight: 200;
    font-size: x-large;
    width: fit-content;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    font-size: large;
}
.myButton{
    background-color: red;
    cursor: pointer;
    height: 35px;
    width: 70px;
    margin-left: 40px;
    border-radius: 10px;
}
.myAnswers{
    color:rgb(228, 74, 74);

    width: 40%;
    margin-top: 60px;
    margin-left: 40px;
}
.headerOne{
    
    width: fit-content;
    font-size: medium;
}
