@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*
{
    padding:0 ;
    margin: 0;
    font-family:"exo", sans-serif ;
    box-sizing: border-box;

}

html{
    font-size: 63%;
}

body{
    display: grid;
     place-items: center;
     height: 100vh;
     background: #d4e0ee;
     font-family: "lato", sans-serif;
}


#container{
    height: auto;
    width: auto;
} 
   

#start{
    height: 68px;
    width: 260px;
    text-align: center;
    padding: 25px 0;
    background: #e7f1fa;
    color: #000;
    font-size: 25px;
    font-weight: 750;
    border-radius: 35px 12px;
    border: 3px solid #b0c4d8;
    cursor: pointer;
    display: none;
   
}
#start:hover{
    background: #ff5235;
    color: #e7f1fa;
}

#guide, #quiz{
    width: 600px;
    padding: 25px;
    background: #e7f1fa;
    border-radius: 35px 15px;
    border: 1px solid #b0c4d8;
    
}

#guide h4{
    height: 55px;
    width: px;
    display: flex;
    align-items: center;
    font-size: 18px;
}
#guide h2{
    font-size: 45px;
    color: #ff5235;
    padding-left: 50px;
}

#guide h3{
    height: 55px;
    width: px;
    display: flex;
    align-items: center;
    font-size: 28px;
    color: blue;
    
}

#guide #button{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;




}
#guide a{
    cursor: pointer;
    width: 100px;
    margin: 12px 27px;
    border: none;
    outline: none;
    color: #e7f1fa;
    background: #ff5235;
    border: 1px solid #b0c4d8;
    border-radius: 20px 7px;
    font-size: 17px;
}


/* start of styling of quiz.html */

.form{
    padding-top: 5em;
    padding-left: 5em;
    font-size: 25px;
    align-items: center;
    padding-left: 30px;
    margin-left: 50px;
    margin-top: -250px;
    width: 15em;
    height: 15em;
    border-radius: 12px;
    background-color: #a5d1f3be;
    width: 25em;
}
.form h1{
    color: rgb(29, 39, 190);
    padding-bottom: 20px;
    font-size: larger;
    margin-top: -110px;
    padding-left: 200px;
}
.input-container{
    padding-top: 20px;
}
.input{
    border: 2px solid #205279be;
    border-radius: 4px;
    width: 20em;
    height: 2em;
}

.submiform{
    padding-left: 4em;
}

.submitformbtn{
    background-color: rgb(245, 22, 22);
    border: none;
    color: #000;
    width: 5em;
    height: 2em;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    padding-left: 5px;
}
